# id -u nas
NAS_UID=
# id -g nas
NAS_GID=
# getent group docker | cut -d: -f3
DOCKER_GID=
# cat /etc/timezone
TZ=

# pwd
PATH_TO_ROOT=
# All user files (documents, photos, videos, etc.)
PATH_TO_FILES=
# Movies, TV Series, Music, Audiobooks, etc.
PATH_TO_MEDIA=

# my-nas.duckdns.com
ROOT_DOMAIN=
# my-nas
DUCKDNS_SUBDOMAINS=
DUCKDNS_TOKEN=
