# id -u nas
NAS_UID=
# id -g nas
NAS_GID=
# cat /etc/timezone
TZ=

# pwd
PATH_TO_ROOT=
# All user files (documents, photos, videos, etc.)
PATH_TO_FILES=
# Movies, TV Series, Music, Audiobooks, etc.
PATH_TO_MEDIA=

# example.lan
HOST_INTERNAL=
