{
    admin {
        origins "caddy.{$ROOT_DOMAIN}"
    }
}

http://caddy.{$ROOT_DOMAIN} {
    reverse_proxy localhost:2019
}

http://audiobookshelf.{$ROOT_DOMAIN} {
    reverse_proxy audiobookshelf:80
}

http://homepage.{$ROOT_DOMAIN} {
    reverse_proxy homepage:3000
}

http://jellyfin.{$ROOT_DOMAIN} {
    reverse_proxy jellyfin:8096
}

http://nextcloud.{$ROOT_DOMAIN} {
    reverse_proxy nextcloud:80
}

http://radarr.{$ROOT_DOMAIN} {
    reverse_proxy radarr:7878
}

http://sonarr.{$ROOT_DOMAIN} {
    reverse_proxy sonarr:8989
}

http://lidarr.{$ROOT_DOMAIN} {
    reverse_proxy lidarr:8686
}

http://prowlarr.{$ROOT_DOMAIN} {
    reverse_proxy prowlarr:9696
}

http://qbittorrent.{$ROOT_DOMAIN} {
    reverse_proxy qbittorrent:8080
}

http://filebrowser.{$ROOT_DOMAIN} {
    reverse_proxy filebrowser:80
}

http://glances.{$ROOT_DOMAIN} {
    reverse_proxy glances:61208
}

http://dozzle.{$ROOT_DOMAIN} {
    reverse_proxy dozzle:8080
}
