http://audiobookshelf.{$HOST_INTERNAL} {
    reverse_proxy audiobookshelf:80
}

http://jellyfin.{$HOST_INTERNAL} {
    reverse_proxy jellyfin:8096
}

http://nextcloud.{$HOST_INTERNAL} {
    reverse_proxy nextcloud:80
}

http://lidarr.{$HOST_INTERNAL} {
    reverse_proxy lidarr:8686
}

http://jackett.{$HOST_INTERNAL} {
    reverse_proxy jackett:9117
}

http://qbittorrent.{$HOST_INTERNAL} {
    reverse_proxy qbittorrent:8080
}
