{
    admin {
        origins "caddy.{$HOST_INTERNAL}"
    }
}

http://caddy.{$HOST_INTERNAL} {
    reverse_proxy localhost:2019
}

http://audiobookshelf.{$HOST_INTERNAL} {
    reverse_proxy audiobookshelf:80
}

http://homepage.{$HOST_INTERNAL} {
    reverse_proxy homepage:3000
}

http://jellyfin.{$HOST_INTERNAL} {
    reverse_proxy jellyfin:8096
}

http://nextcloud.{$HOST_INTERNAL} {
    reverse_proxy nextcloud:80
}

http://portainer.{$HOST_INTERNAL} {
    reverse_proxy portainer:9000
}
